<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

        <link href="~/assets/css/register.css" rel="stylesheet" />
</head>
<body>
    @RenderBody()
    <script type="text/javascript" src="~/js/jquery.js"></script>
    <script type="text/javascript" src="~/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/js/plugins/swiper/js/swiper.min.js"></script>
    @RenderSection("SNullLayout",false)
</body>
</html>